@{
    Layout = null;
    var purchaseprice = 120;

    
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        Your discount is @(purchaseprice * App.Discount/100)
    </body>
</html>
