@{
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Welcome to the WebMatrix!</h1>
        <p>I began to become a web developer on @DateTime.Now.ToString()</p>
    </body>
</html>
