<!DOCTYPE html>
@{
    Layout=null;
}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>jQuery Timer</title>
        <script src="@Href("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
        <style type="text/css">
            body { 
                font: 80% Arial; 
            }
            span { 
                padding: 3px; 
                background-color: #ffff80; 
                border: 1px dotted black; 
            }
            div { 
                padding: 10px; 
            }
        </style>
        <script type="text/javascript">
        $(function(){
            $.ajaxSetup ({
                cache: false
            });
            setInterval(function() {
                 $('span').load('GetTime/');
            }, 1000);
           });
        </script>
    </head>
        
    <body>
        <h1>Ajax Time Demo</h1>
        <div>The initial request time was @DateTime.Now</div>
        <div>But the AJAX time is <span>@DateTime.Now</span></div>
    </body>
</html>
