@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style type="text/css">
            body{
                background-color: LightSteelBlue;
            }
        </style>
    </head>
    <body>
        <h1>Testing _PageStart From Level 1</h1>
        <p>This page overrides the layout set in PageStart</p>
    </body>
</html>
