@{
    Layout = "~/Shared/_MainLayout.cshtml";
}

<div id="automationnav">
    <a href="Products">Products</a> |
    <a href="Services">Services</a> |
    <a href="Support">Support</a> |
    <a href="Team">The Team</a> |
</div>
<div id="automation">
    @RenderBody()
</div>
<div id="footer">The Automation Division Footer</div>