@{
    Layout = "~/Shared/_MainLayout.cshtml";
}

<div id="electronicsnav">
    <a href="Products">Products</a> <br />
    <a href="Services">Services</a> <br />
    <a href="Support">Support</a> <br />
    <a href="Team">The Team</a> <br />
</div>
<div id="electronics">
    @RenderBody()
</div>
<div id="footer">The Electronics Division Footer</div>