<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <style type="text/css">
            body{
                background-color: NavajoWhite;
                
            }
            
        </style>
    </head>
    <body>
        <h3>This is Layout 1</h3>
        @RenderBody()
    </body>
</html>
